---
import GalleryCard from '../components/gallery-card.astro';
import Layout from '../layouts/Layout.astro';


import Image713a997b from "../../public/713a997b-06cb.jpg";
import Imaged0819d7a from "../../public/d0819d7a-c351.jpg";
import Imageba4c5589 from "../../public/ba4c5589-2988.jpg";
import Image14834f79 from "../../public/14834f79-5f0c.jpg";
import Image1895addc from "../../public/1895addc-5a9b.jpg";
import Image70414c8a from "../../public/70414c8a-8773.jpg";
import Imagebdbc7416 from "../../public/bdbc7416-e0af.jpg";
import Imagede44b5c1 from "../../public/de44b5c1-843a.jpg";
import Image3a439cdc from "../../public/3a439cdc-4477.jpg";

---

<Layout title='Galeria'>
	<section>
        <div class="wjYq">
            <h2>Galeria</h2>
        </div>
        <div class="qPnL">
            <GalleryCard Image={Image713a997b} />
            <GalleryCard Image={Imaged0819d7a} />
            <GalleryCard Image={Imageba4c5589} />
            <GalleryCard Image={Image14834f79} />
            <GalleryCard Image={Image1895addc} />
            <GalleryCard Image={Image70414c8a} />
            <GalleryCard Image={Imagebdbc7416} />
            <GalleryCard Image={Imagede44b5c1} />
            <GalleryCard Image={Image3a439cdc} />
        </div>
	</section>
</Layout>

<style>
    .wjYq {
        padding: 0 0 0 1em;
        width: 100vw;
        height: 10em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .wjYq>h2 {
        margin: 0;
        font-weight: bold;
    }
</style>

<style>
    .qPnL {
        width: 100vw;
        height: fit-content;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
</style>